
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
}
.page1{
    width: 100%;
    height: 100vh;
    background-color: salmon;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page2{
    width: 100%;
    height: 100vh;
    background-color: rgb(34, 178, 178);
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3{
    width: 100%;
    height: 100vh;
    background-color: rgb(116, 114, 250);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 300px;
    height: 300px;
    background-color: rgb(248, 248, 44);
}
.card{
    height:450px;
    width:340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card img{
    width: 70%;
    height: 200px;
    margin-bottom: 5px;
}
.card button{
    margin-top: 20px;
    padding: 12px 20px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    cursor: pointer;
}